.container-memes__cards{
   max-width: 80vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 10rem;
}

.header-category{
   display: flex;
   justify-content: center;
   margin: 0 10rem 10rem 0;
}